output "eDP-1" {
    mode "1920x1200@120"
    scale 1
    transform "normal"
    position x=0 y=0
    variable-refresh-rate on-demand=true
}

output "Dell Inc. DELL U3223QE 3ZJLBP3" {
    mode "3840x2160"
    scale 1.2
    transform "normal"
    position x=0 y=-1800
}